/* eszti */
/* KEZDŐLAP*/


* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;

}


body {
    background-size: cover;
}

/*headerhez tartozó: */
header{
    background-image: url("CsendesLetteremVintageBarCafé3.jpg");
    height: 50vh;
    background-size: cover;
    margin: 0px;
    padding: 0%;
}

.cimKezdolap{
    text-align: justify;
    color: #DAA520;
    text-shadow: 2px 2px #FFF8DC;
    background-color: black;
    padding: 3px;
    font-size: 150%;
    margin: 0px;
}

.cimKezdolap h1 {
    padding-left: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
}
/*
.kezdolapCimKep{
    float: right;
    width: 23%;
    margin-right: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-size: cover;
}

.torlesKezdolap{
    clear: both;
}
*/
/*menü: */
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    
}

nav ul li{
    padding: 10px;
    background-color: #DAA520;
    text-align: center;
    border-right: 2px solid black;
    transition: background-color 0.3s;
}

nav ul a{
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

nav li:hover{
    background-color: #8B4513;
    
}

nav li:hover a{
    color: white;
}

nav li.szines{
    background-color: #8B4513;
    
}

nav a.szines{
    color: white;
}


/*grid-areak: */
main {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-areas: 
        "h h h"
        "n n n"
        "a a j"
        "f f f"; 
}

header{
    grid-area: h;
}

article {
    grid-area: a;
}

nav {
    grid-area: n;
}

footer {
    grid-area: f;
}

aside {
    grid-area: j;
}

/* article: */
.figyelem{
    text-align: justify;
    text-align: center;
    background-color: #de4035;
    padding: 10px;
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    
}

article{
    background-color: black;
    text-align: justify;
    border-left: 2px solid black;
    background-size: cover;
    
}

.articleDivje{
    background-color: #FFE4C4;
    padding: 20px;
    padding-left: 20px;
    padding-right: 25px;;
    margin-left: 10px;
    margin-top: 10px;
    max-width: 800px; 
    
}

.bemutatkozas {
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 30px;
}

.bemutatkozasfelsorolas{
    padding-top: 20px;
    list-style-type: circle;
    padding-left: 40px;
    padding-bottom: 30px;
    
}

.spanBemutFels{
    font-weight: 800;
    
}

.spanFigyelNe{
    text-decoration: underline;   
}

.hogymiert{
    font-style: italic;
}

.bemutatkozasfelsorolas li {
    padding: 4px;
}

/* aside: */
aside {
    background-color: black;
    border-right: 2px solid black;
    padding: 5px;
    max-width: 330px; 
    margin: 0 auto;
}

.asideDivje{
    background-color: #e8ac56;
    padding-top: 20px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 3px;
    
}

.kezdolapKocsmaKep{
    width: 100%;
    
}

.torlesKezdolap{
    clear: both;
}

.asideDivje ul{
    list-style-type: circle;
    padding-left: 40px;
    padding-bottom: 10px;
}

.kezdolapKocsmaKepHelye{
    padding-bottom: 10px;
}

.asideDivje li{
    padding: 4px;
}

.tablazatosertekeles{
    padding-top: 20px;
    padding-bottom: 50px;
}

/*.kezdolapkocsmak {
    


}

.kezdolapkocsmak ul{
    list-style-type: circle;
    padding-left: 40px;
    padding-bottom: 20px;
}

.kezdolapkocsmak li{
    padding: 4px;
}

.kezdolapKocsmakKep{
    float: up;
    width: 20%;
    margin-right: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-size: cover;
    padding-left: 0px;
}

.torlesKezdolap{
    clear: both;
}

.kezdolapkocsmakfelsorolas1 {
    padding-left: 200px;
}
*/

/* TÁBLÁZAT: */
table {
    font-size: 80%;
    padding-top: 30px;
    border-collapse: collapse;
    width: 100%;
    color: white;
    margin-top: 25px;
}

  
td, th {
    border-right:1px solid white;
    padding: 6px;
    vertical-align: middle;
    text-align: center;

}

th:first-child, td:first-child, tr:first-child th, tr:first-child td  {
    background-color: black;
}

th:last-child, td:last-child {
    border-right: none;
}

tr:last-child td{
    border: 2px solid white;
}

tr:first-child{
    border-bottom: 1px solid white;
}



tr:nth-child(even) {
    background-color: rgb(40, 37, 37);
    border-top:1px solid rgb(40, 37, 37);
    border-bottom:1px solid rgb(40, 37, 37);
}

tr:nth-child(odd) {
    background-color: rgb(72, 68, 68);
}



/*footer: */

footer{
    background-color: black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.footerDivje {
    background-color: #e8ac56;
    margin: 10px;
    color: black;
    overflow: hidden;
}

.footerBD{
    text-align: left;
    padding: 30px 20px 20px 40px;
    float: left;
}

.footerJD{
    padding: 10px;
    text-align: right;
    margin: 5px;
    width: 96%;
}

.footerB{
    font-weight: 800;
    text-decoration: 2px dashed black;
}



/* HÍREK */

.articlee{
    background-color: black;
    text-align: justify;
    border-left: 2px solid black;
    background-size: cover;

    margin: 0 auto;
    
}

.hirekArticleDivje{
    margin: 5px;
    padding: 10px;
    
}

.hirekCim{
    margin:5px;
    background-color:  #FFE4C4;
    padding: 20px;

}

.hirekGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hir1{
    border-radius: 20px;
    margin: 30px;
    background-color:  #FFE4C4;
    padding: 20px;
    float: left;
    width: 80%;
    
}

.hir2{
    border-radius: 20px;
    margin:30px;
    background-color:  #FFE4C4;
    padding: 20px;
    float: right;
    width: 80%;
    
}

.hir3{
    border-radius: 20px;
    margin:30px;
    background-color:  #FFE4C4;
    padding: 20px;
    float: left;
    width: 80%;
    
}

.hir4{
    border-radius: 20px;
    margin:30px;
    background-color:  #FFE4C4;
    padding: 20px;
    float: right;
    width: 80%;
    
}

.hir5{
    border-radius: 20px;
    margin:30px;
    background-color:  #FFE4C4;
    padding: 20px;
    float: left;
    width: 80%;
    
}

.hir6{
    border-radius: 20px;
    margin:30px;
    background-color:  #FFE4C4;
    padding: 20px;
    float: rigth;
    width: 80%;
    
}

.hir1 h4{
    text-align: center;
    padding: 5px;
    border: 1px groove black;
    border-radius: 5px;
    background-color: #8B4513;
    color: white;
}
.hir1 p{
    padding-top: 15px;
    text-align: justify;
    
}
/* /eszti */


/* dorka */
/* kocsma oldal */

body {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 5px;
    background-color: rgb(162, 157, 157);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.kocsma {
    border: 5px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    overflow-x: auto;
}

.kocsma .kepek {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 5px;
    background-color: rgb(162, 157, 157);;
}

.kocsma .kepek img {
    flex-shrink: 0;
    width: 19.5%;
    height: auto;
}

.kocsma p {
    text-align: left;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    line-height: 1.5;
    white-space: pre-line;
    padding: 10px;
    font-weight: bold;
    font-style: italic;
}

.kocsma h2 {
    color: rgb(0, 0, 0);
  
}
footer{
    font-weight: bold;
    font-style: italic;
}
nav ul{
    color:rgba(91, 91, 205,);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    list-style-type: none;
    text-align: left;
    font-weight: bold;
    font-style: italic;
}
nav li{
    border: 2px solid black;
    padding: 5px;
}
nav a:hover{
    background-color: rgba(85, 73, 223,);
    color: white;
}
nav a{
    text-decoration: none;
    color: rgba(88, 88, 208,);
    padding: 5px;
}